/* 
    페이지 제목 글자 크기 = 18px
    페이지 부제목 글자 크기 = 16px
    페이지 경로 = 11px
    본문 강조 내용 = 28px
    본문 내용 = 12px
*/
main {
    width: 850px;
    border: 1px solid #ddd;
    margin: 100px 0 0 50px;
}
main .title_path {
    border-bottom: 1px solid #ddd;
    padding: 25px 20px;
}
main .title_path h1 {font-size: 1.125rem;}
main .title_path .path {}
main .title_path .path dd {font-size: 0.688rem;}
main .title_path .path dd img {}
main .title_path .path dd em {
    font-size: 0.688rem;
    font-weight: 500;
}
main .contents {
    padding: 50px 20px 50px 20px;
}
main .contents h2 {
    color: #1e61a8;
    font-weight: 700;
}
main .contents h2 img {margin-right: 7px;}
main .contents .first {
    font-size: 1.75rem;
    line-height: 1.4;
    padding-left: 20px;
}
main .contents .first em {color: #1f9b0f; font-size: 1.75rem;}
main .contents p {
    font-size: 0.75rem;
    line-height: 1.7;
    margin-top: 40px;
}