/* all */
/* #login_wrap main */
#login_wrap main {max-width: 460px; margin: 0 auto; background: beige;}
#login_wrap main #loginFrm {
    /* border: 1px solid #ccc; border-radius: 5px; */
}
#login_wrap main #loginFrm fieldset {}
/* 탭 제목 */
#login_wrap main #loginFrm fieldset .login_title {display: flex; justify-content: center;}
#login_wrap main #loginFrm fieldset .login_title h2 {
    width: calc(100% / 3); height: 60px;
    text-align: center;
    background: #F8F9FA;
    border: 1px solid #ccc; 
    border-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex; justify-content: center; align-items: center;
}
#login_wrap main #loginFrm fieldset .login_title h2:last-child {border-top-right-radius: 5px;}
#login_wrap main #loginFrm fieldset .login_title h2 a {
    /* background-color: lime; */
    width: 100%; line-height: 60px;
    position: relative;
}
/* 탭 제목 아이콘 */
#login_wrap main #loginFrm fieldset .login_title h2 a > span:first-child::before,
#login_wrap main #loginFrm fieldset .login_title h2 a > em:first-child::before {
    content: ''; display: inline-block;
    width: 16px; height: 16px;
    background: url(../images/m_sp_login.png) ;
    background-size: 251px 210px;
    background-position-x: -231px;
    transform: translateY(2px);
    margin-right: 5px;
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(1) a > span::before {background-position-y: -194px;}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(2) a > span::before {background-position-y: -63px;}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(3) a > em::before {background-position-y: -119px;}
/* 탭 제목 QR코드 */
#login_wrap main #loginFrm fieldset .login_title h2 a > em {}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup {
    z-index: 9999;
    background: #fff; border: 2px solid #03c75a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px; padding: 4px 10px;
    position: absolute;  width: max-content;
    left: 50%; transform: translate(-50%, -21px);
}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup em {color: #03c75a; font-size: 0.625rem;}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup .close {color: #03c75a; font-size: 0.625rem;}
/* 탭 내용 */
#login_wrap main #loginFrm fieldset .login_container {
    background-color: #fff;
    position: relative;
    top: -10.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 25px 27px;
}
/* 탭 내용 - id, 일회용, qr 공통 클래스 */
#login_wrap main #loginFrm fieldset .login_container .login_c {}
/* ID로그인 */
/* ID로그인 --- 아이디, 비밀번호 입력 */
#login_wrap main #loginFrm fieldset .login_container .id_login {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; flex-flow: column nowrap; background-color: #fff;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span{

}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span::before{
    content: '';
    background-image: url(../images/m_sp_login.png);
    display: inline-block;
    background-size: 251px 210px;
    width: 16px; height: 16px;
    position: relative;
    left: 8px; top: 2px;
    background-position-y: -189px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(1) {border-bottom: 1px solid #ccc;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(1)::before{background-position-x: -87px;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(2)::before{background-position-x: -121px;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input input{
    padding: 15px 0 13px;
    width: 80%;
    margin-left: 20px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input input::placeholder {color: #aaa;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input #userId {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input #userPw {}
/* ID로그인 --- 로그인 상태유지 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state {
    display: flex; justify-content: space-between; align-items: center;
    padding: 10px 0;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state]:checked + label {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state label[for*=state] {color: #aaa;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state label[for*=state]::before {    
    content: '';
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    width: 18px; height: 18px;
    display: inline-block;
    position: relative;
    left: 0; top: 3px;
    background-position: 273px -80px;
    margin-right: 7px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state]:checked + label[for*=state]::before {
    background-position-y: -156px;
}
/* ID로그인 --- IP보안 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .txt {color: #aaa;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .switch_bg {
    background: #c3c8c9; display: inline-block;
    width: 40px; height: 20px; border-radius: 25px;
    padding: 2px;
    transition: background-color 0.1s;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .switch_bg .switch {
    background: #fff; width: 16px; height: 16px; display: inline-block;
    border-radius: 50%;
    transform: translateX(0);
    transition: transform 0.1s;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state]:checked + label[for*=state] .switch_bg .switch {
    transform: translateX(20px);
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state]:checked + label[for*=state] .switch_bg{background-color: #03c75a;}
/* ID로그인 --- error message */
#login_wrap main #loginFrm fieldset .login_container .id_login .error_message {}
/* ID로그인 --- 로그인 버튼 */
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap {}
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap #loginBtn {
    width: 100%; color: #fff; background-color: #03c75a;
    padding: 16px 0; border-radius: 5px;
    font-size: 1.25rem; letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
}
/* 일회용번호 */
#login_wrap main #loginFrm fieldset .login_container .disposable_login {background: pink;}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_info_wrap {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_info_wrap .disposable_info {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_info_wrap .disposable_info em {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_info_wrap a {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_input #disposable_num {}
/* QR코드 */
#login_wrap main #loginFrm fieldset .login_container .qr_login {background: yellow;}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code img {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code .remaining_time {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code .remaining_time em {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_top {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm .qr_num {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm .qr_num a {}
/* 찾기 ~ 광고 */
#login_wrap main .search {}
#login_wrap main .search a {}
#login_wrap main .advertising {}
#login_wrap main .advertising a {}
#login_wrap main .advertising a img {width: 100%;}