/* all */
/* #login_wrap main */
#login_wrap main {max-width: 460px; margin: 0 auto;}
#login_wrap main #loginFrm {
    /* border: 1px solid #ccc; border-radius: 5px; */
}
#login_wrap main #loginFrm fieldset {}
/* 탭 제목 */
#login_wrap main #loginFrm fieldset .login_title {display: flex; justify-content: center;}
#login_wrap main #loginFrm fieldset .login_title h2 {
    width: calc(100% / 3); height: 60px;
    text-align: center;
    background: #F8F9FA;
    border: 1px solid #ccc; 
    border-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex; justify-content: center; align-items: center;
}
#login_wrap main #loginFrm fieldset .login_title h2:last-child {border-top-right-radius: 5px;}
#login_wrap main #loginFrm fieldset .login_title h2 a {
    /* background-color: lime; */
    width: 100%; line-height: 60px;
    position: relative;
}
/* 탭 제목 아이콘 */
#login_wrap main #loginFrm fieldset .login_title h2 a > span:first-child::before,
#login_wrap main #loginFrm fieldset .login_title h2 a > em:first-child::before {
    content: ''; display: inline-block;
    width: 16px; height: 16px;
    background: url(../images/m_sp_login.png) ;
    background-size: 251px 210px;
    background-position-x: -231px;
    transform: translateY(2px);
    margin-right: 5px;
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(1) a > span::before {background-position-y: -194px;}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(2) a > span::before {background-position-y: -63px;}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(3) a > em::before {background-position-y: -119px;}
/* 탭 제목 QR코드 */
#login_wrap main #loginFrm fieldset .login_title h2 a > em {}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup {
    z-index: 9999;
    background: #fff; border: 2px solid #03c75a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px; padding: 4px 10px;
    position: absolute;  width: max-content;
    left: 50%; transform: translate(-50%, -21px);
}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup em {color: #03c75a; font-size: 0.625rem;}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup .close {color: #03c75a; font-size: 0.625rem;}
/* 탭 내용 */
#login_wrap main #loginFrm fieldset .login_container {
    background-color: #fff;
    position: relative;
    top: -10.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 25px 27px;
}
/* 탭 내용 - id, 일회용, qr 공통 클래스 */
#login_wrap main #loginFrm fieldset .login_container .login_c {}
/* ID로그인 */
/* ID로그인 --- 아이디, 비밀번호 입력 */
#login_wrap main #loginFrm fieldset .login_container .id_login {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; flex-flow: column nowrap; background-color: #fff;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span{

}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span::before{
    content: '';
    background-image: url(../images/m_sp_login.png);
    display: inline-block;
    background-size: 251px 210px;
    width: 16px; height: 16px;
    position: relative;
    left: 8px; top: 2px;
    background-position-y: -189px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(1) {border-bottom: 1px solid #ccc;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(1)::before{background-position-x: -87px;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(2)::before{background-position-x: -121px;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input input{
    padding: 15px 0 13px;
    width: 80%;
    margin-left: 20px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input input::placeholder {color: #aaa;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input #userId {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input #userPw {}
/* ID로그인 --- 로그인 상태유지 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state {
    display: flex; justify-content: space-between; align-items: center;
    padding: 10px 0;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state]:checked + label {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state label[for*=state] {color: #aaa;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state label[for*=state]::before {    
    content: '';
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    width: 18px; height: 18px;
    display: inline-block;
    position: relative;
    left: 0; top: 3px;
    background-position: 273px -80px;
    margin-right: 7px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state]:checked + label[for*=state]::before {
    background-position-y: -156px;
}
/* ID로그인 --- IP보안 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .txt {color: #aaa;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .switch_bg {
    background: #c3c8c9; display: inline-block;
    width: 40px; height: 20px; border-radius: 25px;
    padding: 2px;
    transition: background-color 0.1s;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .switch_bg .switch {
    background: #fff; width: 16px; height: 16px; display: inline-block;
    border-radius: 50%;
    transform: translateX(0);
    transition: transform 0.1s;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state]:checked + label[for*=state] .switch_bg .switch {
    transform: translateX(20px);
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state]:checked + label[for*=state] .switch_bg{background-color: #03c75a;}
/* ID로그인 --- error message */
#login_wrap main #loginFrm fieldset .login_container .id_login .error_message {
    font-size: 0.75rem; color: #f00;padding: 10px 0;
}
/* ID로그인 --- 로그인 버튼 */
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap {}
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap #loginBtn {
    width: 100%; color: #fff; background-color: #03c75a;
    padding: 16px 0; border-radius: 5px;
    font-size: 1.25rem; letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
}
/* 일회용번호 */
#login_wrap main #loginFrm fieldset .login_container .disposable_login {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_info_wrap {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_info_wrap .disposable_info {font-size: 0.938rem; text-align: center; line-height: 1.5;}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_info_wrap .disposable_info em {
    color: #03c75a; font-size: 0.938rem;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_info_wrap a {
    display: block;
    margin: 0 auto;
    width: 12px; height: 12px;
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    background-position: -186px -47px;
    margin-bottom: 30px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_input #disposable_num {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_input #disposable_num::placeholder {color: #ccc;}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_error_message {
    font-size: 0.75rem; color: #f00;padding: 10px 0;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_btn_wrap {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .disposable_btn_wrap #disposable_btn {
    background-color: #03c75a; color: #fff;
    width: 100%; padding: 16px 0;
    border-radius: 5px;
    font-size: 1.25rem; 
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 10px;
}
/* QR코드 */
#login_wrap main #loginFrm fieldset .login_container .qr_login {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code {
    width: max-content;
    padding-left: 50px;
    display: flex; justify-content: center; align-items: flex-end;
    margin: 0 auto;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code img {
    width: 100px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code .remaining_time {
    display: flex; flex-flow: column;
    position: relative; bottom: 6px;
    font-size: 0.91rem;
    color: #555;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code .remaining_time em {
    color: #03c75a; font-weight: 700; 
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info {
    text-align: center; margin-top: 20px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_top {color: #1e1e23; font-size: 0.875rem; line-height: 1.3;}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm {color: #666; font-size: 0.75rem; margin-top: 5px; position: relative; line-height: 1.3;}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm .appIcon,
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm .cameraIcon {
    margin-left: 3px;
    display: inline-block;
    width: 11px; height: 11px;
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    /* background-position-x: -198px; */
    background-position-x: -186px ;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm .appIcon {background-position-y: -60px;}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm .cameraIcon {background-position-y: -72px;}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm .qr_num {
    display: inline-block;
    background-color: #000; color: #fff;
    border-radius: 50px;
    width: max-content; padding: 0 8px;
    font-size: 0.75rem;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_login_info .qr_login_info_btm a {
    display: inline-block;
    width: 12px; height: 12px;
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    background-position: -186px -47px;
    margin-bottom: 30px;
    position: absolute;
}
/* 찾기 ~ 광고 */
#login_wrap main .search {text-align: center; margin-bottom: 30px;}
#login_wrap main .search a {color: #888; font-size: 0.875rem;}
#login_wrap main .search a::after {
    content: '';
    display: inline-block;
    width: 1px; height: 12px;
    background-color: #dadada;
    margin-left:15px;
    margin-right:10px;
}
#login_wrap main .search a:last-child:after {display: none;}
#login_wrap main .advertising {}
#login_wrap main .advertising a {}
#login_wrap main .advertising a img {width: 100%;}