/* layout */
main {
    width: 1136px; 
    padding: 50px 0 0; margin: 0 auto;
}
main .item_detail {display: flex;}
main .item_detail .left_thumnail {
    width: calc(100% - 481px);
    display: flex; flex-flow: row nowrap;
}
/* left_thumnail */
main .item_detail .left_thumnail .small_thumnail {
    width: 56px; display: flex; flex-flow: column nowrap;
}
main .item_detail .left_thumnail .small_thumnail a {
    margin-bottom: 7px; width: 56px; height: 56px; overflow: hidden;
    border: 2px solid #fff; border-radius: 5px;
}
main .item_detail .left_thumnail .small_thumnail a:hover {
    border: 2px solid #35c5f0; 
}
main .item_detail .left_thumnail .small_thumnail a:hover img {
    transform: scale(1.2);
}
main .item_detail .left_thumnail .small_thumnail a img {
    width: 100%; transition: transform 0.2s;
}
main .item_detail .left_thumnail .big_thumnail {
    width: calc(100% - 56px); text-align: center;
}
main .item_detail .left_thumnail .big_thumnail img {
    width: calc(95%); border-radius: 15px;
}
main .item_detail .right_container {width: 481px;}
/* right_container */
main .item_detail .right_container .brand {font-size: 0.875rem;}
/* right - 제목, 관심상품, 공유  */
main .item_detail .right_container .title {
    display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin: 10px 0;
}
main .item_detail .right_container .title h1 {
    font-size: 1.375rem;  width: 70%; line-height: 1.5;
}
main .item_detail .right_container .title .icon {display: flex;}
/* right - 관심상품, 공유 ★ 공통 ★ 선택자 */
main .item_detail .right_container .title .icon a {}
main .item_detail .right_container .title .icon a i[class^=fa] {}
/* right - 관심상품, 공유 ★ 개별★ 선택자 */
main .item_detail .right_container .title .icon a[title^="관심"] {
    display: flex; flex-flow: column nowrap; margin-right: 10px;
}
main .item_detail .right_container .title .icon a[title^="관심"] i {font-size: 20px;}
main .item_detail .right_container .title .icon a[title^="관심"] span {font-size: 0.688rem;}
main .item_detail .right_container .title .icon a[title^="공유"] {}
main .item_detail .right_container .title .icon a[title^="공유"] i {font-size: 24px;}
/* right - 리뷰 */
main .item_detail .right_container .review {}
main .item_detail .right_container .review .score {}
main .item_detail .right_container .review .score i[class$=star] {
    color: #35c5f0; font-size: 13px;
}
main .item_detail .right_container .review .num {
    color: #35c5f0; font-size: 0.813rem; font-weight: 700;
}
/* right - 가격, 오늘출발, 쿠폰받기(공통) */
main .item_detail .right_container .price_coupon {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: flex-end;
}
main .item_detail .right_container .price_coupon .price {
    display: grid; grid-template-rows: 30px 40px; 
    align-items: flex-end;
}
main .item_detail .right_container .price_coupon .price .before {}
main .item_detail .right_container .price_coupon .price .price_result {}
main .item_detail .right_container .price_coupon .coupon_get {}
/* right - 가격(할인 전 가격, 정보 팝업 포함) */
main .item_detail .right_container .price_coupon .price .before {}
main .item_detail .right_container .price_coupon .price .before span {color: #656e75;}
main .item_detail .right_container .price_coupon .price .before del {color: #bdbdbd; text-decoration: line-through;}
main .item_detail .right_container .price_coupon .price .before span:last-child {
    position: relative; 
}
main .item_detail .right_container .price_coupon .price .before span:last-child i[class$=info] {color: #bdbdbd; cursor: pointer;}
main .item_detail .right_container .price_coupon .price .before span:last-child .open {
    background-color: #fff; padding: 10px; display: block;
    box-shadow: 0 4px 10px rgba(63, 71, 77, 0.2);
    font-size: 0.875rem; line-height: 1.4; border-radius: 7px;
    width: 350px; position: absolute; z-index: 999;
    transform: translate(-50%, 5px); left: 0;
}
/* right - 가격(할인 후, 특가, 오늘출발) */
main .item_detail .right_container .price_coupon .price .price_result {}
main .item_detail .right_container .price_coupon .price .price_result em {
    font-size: 2rem; font-weight: 700;
}
main .item_detail .right_container .price_coupon .price .price_result span {font-size: 2rem;}
main .item_detail .right_container .price_coupon .price .price_result .sale {
    background-color: rgb(255, 119, 119); font-size: 0.813rem; color: #fff;
    padding: 3px 5px; border-radius: 3px;
    position: relative; top: -3px;
}
main .item_detail .right_container .price_coupon .price .price_result img[src*=today] {height: 15px;}
/* right - 우측(쿠폰받기) */
main .item_detail .right_container .price_coupon .coupon_get {
    background-color: rgb(255, 119, 119); 
    position: relative; top: -3px; padding: 6px 10px; border-radius: 5px;
}
main .item_detail .right_container .price_coupon .coupon_get span {
    color: #fff; font-size: 0.875rem;
}
main .item_detail .right_container .price_coupon .coupon_get i[class$=bracket] {
    font-size: 18px; color: #fff; transform: scaleY(-1);
}
/* right - 혜택, 배송(공통영역&혜택 개별영역 포함) */
main .item_detail .right_container .benefit_shipping {
    display: flex; flex-flow: row wrap; margin: 20px 0;
}
main .item_detail .right_container .benefit_shipping dt {
    width: 42px; text-align: center;
    color: #828c94; padding-bottom: 15px;
    padding-right: 10px;
}
main .item_detail .right_container .benefit_shipping dd {
    width: calc(100% - 42px);
}
main .item_detail .right_container .benefit_shipping dd em {font-weight: 700;}
/* right - 혜택, 배송(공통영역&혜택 개별영역 포함) -글자크기 공통 */
main .item_detail .right_container .benefit_shipping dt,
main .item_detail .right_container .benefit_shipping dd,
main .item_detail .right_container .benefit_shipping dd * {font-size: 0.875rem;}
/* right - 배송 dd 개별 선택자 */
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) {
    display: flex; flex-flow: column nowrap;
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > em {}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > span {
    margin-top: 5px; color: #292929;
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > span em {
    color: #35c5f0;
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > span > span {position: relative}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > span > span i[class$=info] {color: #828c94; cursor: pointer;}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > span > span .open {
    width: 380px; background-color: #fff; border-radius: 5px;
    padding: 16px; box-shadow: 0 2px 10px rgba(63, 71, 77, 0.25);
    display: block; line-height: 1.5; color: #757575;
    z-index: 999; position: absolute; 
    left: 0; transform: translate(-50%, 5px);
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > span > span .open .close {float: right; cursor: pointer;}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > span > span .open strong {}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery {}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery i[class$=ck] {font-size: 13px; color: #797979;}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery span {font-size: 0.813rem; color: #797979;}
/* right - 배송 dd 도착 예정 정보 (클릭메뉴&open내용) -메뉴 */
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu {
    background-color: #f7f8fa; padding: 15px 12px 13px; border-radius: 5px;
    margin-top: 10px; cursor: pointer;
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu img {}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu em {}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu span {}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu strong {font-weight: 700;}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu i[class$=down] {float: right}
/* right - 배송 dd 도착 예정 정보 (클릭메뉴&open내용) -내용 */
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open {
    display: flex; flex-flow: column nowrap; 
    border-top: 1px solid #bdbdbd; margin-top: 0;
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list {
    display: flex; justify-content: space-between;
    padding: 15px 15px;
    background-color: #f7f8fa;
    position: relative; align-items: center;
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list .yoil,
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list .percent {
    background-color: #f7f8fa; 
    z-index: 1; 
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list:first-child ::before {top: 20px;}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list::before {
    content: ''; width: calc(100% - 30px); height: 0.1px; 
    display: block; position: absolute; 
    /* right: 15; top: 24px; */
    border-bottom: 1px dashed #bdbdbd;
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list:nth-child(1) {padding-top: 20px;}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list:nth-child(2) * {font-weight: 700;}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list:nth-child(3) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list .yoil {padding-right: 10px;}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open .list .percent {padding-left: 10px;}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open strong::before {
    /* strong 앞 점 모양 만들기 */
    content: ''; display: inline;
    width: 4px; height: 4; border-radius: 50%; background-color: #757575;
    position: relative; top: -2;
}
main .item_detail .right_container .benefit_shipping dd:nth-of-type(2) > .delivery_menu_open strong {
    font-size: 0.75rem; color: #757575; line-height: 1.6; padding: 10px 15px;
}
/* right - 브랜드 바로가기 */
main .item_detail .right_container .brand_link {
    border-top: 1px solid #bdbdbd;
    display: flex; justify-content: space-between;
    padding: 15px 0;
}
main .item_detail .right_container .brand_link .name {
    font-size: 0.938rem;
}
main .item_detail .right_container .brand_link .name img {}
main .item_detail .right_container .brand_link .link {
    background-color: #f5f5f5;
    border-radius: 14px;
    padding: 4px 8px;
}
main .item_detail .right_container .brand_link .link span {
    font-size: 0.813rem; letter-spacing: -0.2px;
}
main .item_detail .right_container .brand_link .link i[class$=right] {
    font-size: 0.813rem;
}
/* right_container-form */
main .item_detail .right_container #itemFrm {
    display: flex; flex-flow: column nowrap;
}
main .item_detail .right_container #itemFrm fieldset {}
main .item_detail .right_container #itemFrm fieldset:nth-child(1) {
    display: flex; flex-flow: column nowrap;
}
main .item_detail .right_container #itemFrm fieldset:nth-child(2) {
    border-top: 1px solid #dbdbdb;
    margin-top: 10px; padding: 15px 0;
    display: flex; justify-content: space-between; align-items: center;
}
main .item_detail .right_container #itemFrm fieldset:nth-child(3) {
    display: grid;
    grid-template-areas: 
        'coupon coupon'
        'cart buy';
        grid-template-rows: auto 50px;
}
/* right_container-form 색상, 사이즈 선택 메뉴(공통) */
main .item_detail .right_container #itemFrm fieldset #colorOpt,
main .item_detail .right_container #itemFrm fieldset #sizeOpt {
    background: #fff url(../dog_images/caret-down-solid.svg) no-repeat 97% center; 
    border-radius: 4px; font-size: 0.938rem; padding: 10px; margin-bottom: 7px;
    }
main .item_detail .right_container #itemFrm fieldset #colorOpt option,
main .item_detail .right_container #itemFrm fieldset #sizeOpt option {}
/* right_container-form 색상, 사이즈 선택 메뉴(개별) */
main .item_detail .right_container #itemFrm fieldset #colorOpt {
    border: 1px solid #35c5f0;
}
main .item_detail .right_container #itemFrm fieldset #colorOpt option {}
main .item_detail .right_container #itemFrm fieldset #sizeOpt {
    border: 1px solid #dbdbdb;
}
main .item_detail .right_container #itemFrm fieldset #sizeOpt option {}
/* right_container-form 색상, 사이즈 모든 옵션 선택 시 open 내용(공통) */
main .item_detail .right_container #itemFrm fieldset .select_result {
    background-color: #f5f5f5; display: grid;
    grid-template-areas: 
    'group1 group1'
    'group2 group3';
    justify-content: space-between;
    position: relative; padding: 13px;
}
/* right_container-form 색상, 사이즈 모든 옵션 선택 시 open 내용-부모 그룹 */
main .item_detail .right_container #itemFrm fieldset .select_result .opt_list {
    grid-area: group1; padding-bottom: 18px;
}
main .item_detail .right_container #itemFrm fieldset .select_result .num_result {
    background-color: #fff; border: 1px solid #bdbdbd;
    grid-area: group2; width: max-content;
}
main .item_detail .right_container #itemFrm fieldset .select_result .order_price {
    grid-area: group3; text-align: right;
}
/* right_container-form 색상, 사이즈 모든 옵션 선택 시 open 내용-자식 그룹 */
main .item_detail .right_container #itemFrm fieldset .select_result .opt_list .opt1,
main .item_detail .right_container #itemFrm fieldset .select_result .opt_list .opt2 {}
main .item_detail .right_container #itemFrm fieldset .select_result .num_result #minus,
main .item_detail .right_container #itemFrm fieldset .select_result .num_result #plus 
{width: 17px; height: 17px;
}
/* right_container-form 색상, 사이즈 모든 옵션 선택 시 open 내용(개별) */
main .item_detail .right_container #itemFrm fieldset .select_result .opt_list .opt1 {}
main .item_detail .right_container #itemFrm fieldset .select_result .opt_list .opt2 {}
main .item_detail .right_container #itemFrm fieldset .select_result .num_result #minus {}
main .item_detail .right_container #itemFrm fieldset .select_result .num_result #num_count {width: 17px; height: 17px;}
main .item_detail .right_container #itemFrm fieldset .select_result .num_result #plus {}
main .item_detail .right_container #itemFrm fieldset .select_result .close {
    position: absolute; right: 13px; top: 13px;
}
/* right_container-form 주문금액 */
main .item_detail .right_container #itemFrm fieldset:nth-child(2) h2 {
    font-size: 0.875rem;
}
main .item_detail .right_container #itemFrm fieldset:nth-child(2) .order_price {
    font-size: 1.25rem; font-weight: 700; letter-spacing: -0.5px;
}
/* right_container-form 쿠폰받기 */
main .item_detail .right_container #itemFrm fieldset:nth-child(3) .coupon {
    grid-area: coupon; padding: 10px 0; display: flex; justify-content: space-between;
}
main .item_detail .right_container #itemFrm fieldset:nth-child(3) .coupon > span {}
main .item_detail .right_container #itemFrm fieldset:nth-child(3) .coupon > .get {}
main .item_detail .right_container #itemFrm fieldset:nth-child(3) .coupon > .get span {}
main .item_detail .right_container #itemFrm fieldset:nth-child(3) .coupon > .get span i[class$=bracket] {}
/* right_container-form 장바구니, 바로구매(공통) */
main .item_detail .right_container #itemFrm fieldset:nth-child(3) #cart,
main .item_detail .right_container #itemFrm fieldset:nth-child(3) #buy {
    border-radius: 4px; text-align: center; letter-spacing: -0.5px; font-weight: 600;
    border: 1px solid #35c5f0;
}
/* right_container-form 장바구니, 바로구매(개별) */
main .item_detail .right_container #itemFrm fieldset:nth-child(3) #cart {
    background-color: #fff; grid-area: cart; margin-right: 5px;
}
main .item_detail .right_container #itemFrm fieldset:nth-child(3) #buy {
    background-color: #35c5f0; color: #fff; grid-area: buy;
}