header {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px; margin: 50px auto; height: 100px;
    position: relative;
}
header nav {
    max-width: 800px;
    position: absolute; left: 50%; transform: translateX((-50%));
}
header nav .gnb {display: flex;}
header nav .gnb > li {position: relative;}
header nav .gnb > li > a {
    display: block; width: 120px; line-height: 100px;
    text-align: center;
}
header nav .gnb > li > .lnb {
    background: #eee; 
    /* padding: 10px; */
    position: absolute; left: 50%; transform: translateX(-50%);
    width: 100px;
    z-index: 900;
}
header nav .gnb > li > .lnb li:first-child {padding-top: 10px;}
header nav .gnb > li > .lnb li:last-child {padding-bottom: 10px;}
header nav .gnb > li > .lnb li a {
    text-align: center; padding: 5px; display: block;
}
header .nav_bg {
    position: absolute;
    left: 0; top: 100px; background-color: #555;
    height: 150px; width: 100%;
    z-index: -1;
}