/* header */
header {}
header .gnb {
    width: 1151px; height: 48px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
header .gnb nav {}
header .gnb nav a {margin-right: 16px; font-size: 0.875rem;}
header .gnb nav a:last-child {margin-right: 0;}
header .gnb nav a img {}
/* header-gnb */
header .gnb .lnb {}
header .gnb .lnb a {margin-left: 16px; font-size: 0.875rem;}
header .gnb .lnb a:first-child {margin-left: 0;}
/* header-bottom */
header .bottom {
    width: 1151px; height: 119px; margin: 0 auto;
    /* h1, searchFrm, right 정렬 대상의 부모 flex 대상 */
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #searchFrm {}
header .bottom #searchFrm fieldset {
    width: 370px; height: 47px;
    border: 3px solid #1e6cb3;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px 0 21px;
}
header .bottom #searchFrm fieldset #search {
    width: 300px; outline: none;
}
header .bottom #searchFrm fieldset #search::placeholder {color: #1e6cb3;}
header .bottom #searchFrm fieldset #searchBtn {
    width: 24px; height: 24px;
}
header .bottom #searchFrm fieldset #searchBtn img {}
header .bottom .right {}
header .bottom .right #langFrm {float: right;}
header .bottom .right #langFrm fieldset {}
header .bottom .right #langFrm fieldset #language {
    width: 98px; height: 28px;
    border: 1px solid #1e6cb3;
    background-color: #fff;
    font-size: 0.813rem;
    padding-left: 10px;
}
header .bottom .right #langFrm fieldset #language option {}
header .bottom .right #langFrm fieldset #goBtn {
    width: 28px; height: 28px;
    background-color: #1e6cb3;
    color: #fff;
    font-size: 0.813rem;
    font-weight: 700;
}
header .bottom .right .weather {clear: both;}
header .bottom .right .weather p {font-size: 0.813rem;}
header .bottom .right .weather .currentWeather {
    font-weight: 700; font-size: 1.5rem;
    letter-spacing: -0.48px; padding: 5px 0;
}
/* main1행 */
main {}
main > * {width: 1151px; margin: 0 auto;}
/* main1행-banner */
main .visualBnr {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}
main .visualBnr .leftBnr {
    background-color: tomato;
    width: 770px;
    position: relative;
}
main .visualBnr .leftBnr a {}
main .visualBnr .leftBnr a img {}
main .visualBnr .leftBnr .close {
    width: 52px; height: 28px;
    font-size: 0.813rem;
    padding: 5px 9px;
    background-color: #1e6cb3;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    position: absolute;
    right: 15px; bottom: 15px;
}
/* main1행-right(코로나, 교통정보) */
main .visualBnr .rightBnr {
    background-color: pink;
    width: 360px;
}
main .visualBnr .rightBnr .corona {
    position: relative;
    display: block;
}
main .visualBnr .rightBnr .corona a {}
main .visualBnr .rightBnr .corona a img {}
main .visualBnr .rightBnr .corona a .date {
    background-color: lightcoral;
    display: inline-block;
    font-size: 0.813rem;
    position: absolute;
    top: 14px; right: 20px;
}
main .visualBnr .rightBnr .corona a .data {
    /* 공통된 값 */
    background-color: lightcoral;
    font-size: 0.813rem;
    position: absolute;
    text-align: center;
}
main .visualBnr .rightBnr .corona a .data:nth-child(3) {
    width: 140px; top: 84px; left: 30px;
} /*확진자*/
main .visualBnr .rightBnr .corona a .data:nth-child(4) {
    width: 140px; top: 84px; right: 29px;
} /*추가확진자*/
main .visualBnr .rightBnr .corona a .data:nth-child(5) {
    width: 94px; bottom: 58px; left: 30px;
} /*퇴원*/
main .visualBnr .rightBnr .corona a .data:nth-child(6) {
    width: 94px; bottom: 58px; left: 145px;
} /*추가퇴원*/
main .visualBnr .rightBnr .corona a .data:nth-child(7) {
    width: 59px; bottom: 58px; right: 32px;
} /*사망*/
main .visualBnr .rightBnr .traffic {}
main .visualBnr .rightBnr .traffic img {margin-top: 10px;}
/* main2행-주요서비스 */
main .serviceBnr {
    background-color: green;
}
main .serviceBnr .title {
    background-color: cadetblue;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
}
main .serviceBnr .title h1 {
    font-size: 1.5rem; font-weight: 700;
}
main .serviceBnr .title .site {
    position: absolute;
    right: 0;
}
main .serviceBnr .contents {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main .serviceBnr .contents a {
    display: flex;
    /* a한테 display: flex를 적용하면 block을 쓴 것과 같은 의미로 적용된다. */
    flex-flow: column nowrap;
    width: 9.09%; text-align: center;
}
main .serviceBnr .contents a img {
    width: 60px; margin: 0 auto;
}
main .serviceBnr .contents a span {font-size: 0.813rem;}
/* main3행-배너3 */
main .bnrBg {
    background-color: #eff4f8;
    width: 1920px;
}
main .bnrBg .bnr {
    width: 1151px; margin: 0 auto;
    display: flex;
}
main .bnrBg .bnr a {display: block;}
main .bnrBg .bnr a img {}
/* main4행-게시판 */
/* main4행-게시판-이벤트신청 */
/* main4행-게시판-이달행사축제 */
/* main4행-게시판-서비스 */
/* main5행-분야정보 */
/* main6행-새소식 */
/* footer */
footer {
    width: 1151px;
    margin: 0 auto;
}
/* footer1행 */
footer .top {
    width: 1151px; height: 67px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
footer .top .menu {}
footer .top .menu a {}
footer .top .menu a em {}
footer .top .sns {}
footer .top .sns a {
    background-image: url(../images/icon_sns2/icon_set3.png);
    background-repeat: no-repeat;
    width: 25px; height: 25px; text-indent: -9999px;
    display: inline-block;
    margin-left: 16px;
}
footer .top .sns a:nth-child(1) {}
footer .top .sns a:nth-child(2) {background-position-x: -25px;}
footer .top .sns a:nth-child(3) {background-position-x: -50px;}
footer .top .sns a:nth-child(4) {background-position-x: -75px;}
footer .top .sns a:nth-child(5) {background-position-x: -100px;}
footer .top .sns a:nth-child(6) {background-position-x: -125px;}
footer .top .sns a:hover {background-position-y: -25px;}
footer .bottom {
    width: 1151px; height: 105px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
footer .bottom .left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
footer .bottom .left p {}
footer .bottom .left p img {}
footer .bottom .left address {}
footer .bottom .banner {}
footer .bottom .banner a {}
footer .bottom .banner a img {margin-left: 16px;}
/* footer .bottom .banner a img:first-child {margin-left: 0;} */
/* footer2행 */