html, body {scroll-behavior: smooth;}
header {
    position: fixed; 
    left: 0; top: 0;
    padding: 50px; width: 100%;
}
header h1 {font-weight: 700;}
header nav {}
header nav a {
    display: inline-block; padding: 10px; color: #222;
}
header nav a:hover {border-bottom: 2px solid #222;}
main {}
main .bg {
    background-size: cover;
    background-position: center;
    height: 100vh; width: 100%;
}
main .bg1 {background-image: url(../images/bg1.jpg);}
main .bg2 {background-image: url(../images/bg2.jpg);}
main .bg3 {background-image: url(../images/bg3.jpg);}
main .bg4 {background-image: url(../images/bg4.jpg);}
.link {
    position: fixed; left: 50px; top: 50%; transform: translateY(-50%); display: flex; flex-flow: column wrap;
}
.link a {
    height: 2px; margin-bottom: 10px; background-color: #222; width: 20px;
    transition: width 0.5s;
}
.link a.active {width: 100px; background: #fff;}
.circle {
    width: 50px; height: 50px;
    /* background-color: red; */
    border: 2px solid #fff;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}